@import '../../../sass/colors';

.left-panel-container {
  display: flex;
  height: 100%;

  .left-panel {
    display: flex;
    background-color: $bg-dark;
    width: 20vw;
    max-width: 190px;
  }
}