$melrose: #afa7ff;
$titan-white: #f1f0ff;
$periwinkle: #d1cdff;

$bg-dark: #020202;
$bg-normal: #111111;
$bg-light: #3b3b3b;

$text-light: #ececec;

$red-warning-dark: #a81717;
$red-warning-text: #ff5555;
$red-warning-bg: #ffb1b1;

$disabled-btn-bg: #b6b6b6;
$disabled-btn-txt: #5f5f5f;
