@import '../../../sass/colors'; 

$input-padding: 5px;
$input-border: 0.5px;

.vid-form-select-container {
  display: flex;
  flex-direction: column;

  .vid-form-select {
    border: none;
    color: $bg-dark;
    padding: $input-padding;
    border-radius: 0;
    background-color: $titan-white;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.9rem;
    
    &.error {
      background-color: $red-warning-bg;
    }

    &:focus {
      box-shadow: 0 0 5px 1px $titan-white;
      transition-duration: 0.4s;
    }

    option.vid-form-select-option {
      color: $bg-dark;
      font-size: 0.9rem;
    }
  }
}