@import '../../../sass/colors';

.add-address-register {
  padding: 0.5rem 1rem;
  margin: 1.5rem 0;
  background-color: none;
  border-radius: 0;
}

.register-form {
  width: 100%;
  
  .custom-button {
    margin-top: 10px;
  }
  
  .custom-form-input {
    margin-bottom: 5px;
  }
}

.address-cancel-rmv-btns {
  display: flex;
  justify-content: space-around;

  .custom-button {
    flex-grow: 1;

    &.rmv-button {
      background-color: $red-warning-dark;
      color: $titan-white;
    }
  }
}