@import '../../../sass/colors';

$input-padding: 5px;
$input-border: 0.5px;

.custom-form-input {

  .inner-field {
    border: none;
    color: $bg-dark;
    padding: $input-padding;
    border-radius: 0;
    background-color: $titan-white;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.9rem;

    &.error {
      background-color: $red-warning-bg;
    }

    &:focus {
      box-shadow: 0 0 5px 1px $titan-white;
      transition-duration: 0.4s;
    }
  }
  
}

.form-error {
  text-align: center;
  color: $red-warning-text;
  font-size: 0.9rem;
}